.box {
    background: red;
    border: 1px solid black;
    margin: 10px;
    height: 100px;
    width: 100px;
}

.parent {
    height: 120px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear-float {
    clear: both;
    float: none;
}

.form-group.form-error label {
    color: red;
}

.form-group.form-error input, .form-group.form-error textarea {
    border: 3px solid red;
}

.parent {
    height: 750px;
    width: 750px;
    background-color: yellow;
    color: white;
    font-weight: bold;
}

.child {
    height: 200px;
    width: 200px;
    background-color: red;
    float: left;
    margin: 20px;
}

.grandchild {
    height: 40px;
    width: 40px;
    background-color: blue;
    display: inline-block;
    margin: 10px;
}